@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  min-height: 100vh;
  margin: 0;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}


.balance {
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.05);
  padding: 15px 0;
  text-align: center;

}

.inc-exp-container {
  background-color: #fff;
  padding: 20px 20px 18px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.05);
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

.title-container {
  width: 100%;
  position: relative;
}

.add-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  color: #333;
  padding: 0;
  margin: 0;
}

.add-btn:hover {
  background-color: transparent;
  border: none;
  color: #333;
}

.add-btn:focus {
  color: #333;
}


.add-icon {
  font-size: 2em;
}

.title {
  padding-bottom: 10px;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}


.list {
  list-style-type: none;
  padding: 0 0 20px 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.05);
  color: #333;
  position: relative;
  padding: 15px;
  margin: 10px 0;
}

.list .number {
  float: right;
  padding-right: 35px;
}

.list li.plus {
  border-left: 5px solid #2ecc71;
}

.list li.minus {
  border-left: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 25%;
  right: 10px;
  background-color: white;
}

.alert {
  width: 300px!important;
  display: fixed!important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
